<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<configuration>
    <property>
        <name>window_width</name>
        <value>800</value>
        <callback>windowCallback</callback>
    </property>
    <property>
        <name>window_height</name>
        <value>480</value>
        <callback>windowCallback</callback>
    </property>
    <property>
        <name>window_title</name>
        <value>Orchid</value>
        <callback>windowCallback</callback>
    </property>
    <property>
        <name>main_scene</name>
        <value>./res/scenes/scene.xml</value>
    </property>
</configuration>